/* common.css */

/* Base styles */
body {
    font-family: 'Inter', sans-serif;
    color: #030303;
    background-color: #000000;
}

/* Container */
.container {
    max-width: 600px;
    margin: 40px auto;
    background-color: #080808;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Title */
.form-title {
    margin-bottom: 20px;
    color: #fdfdfd;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

/* Form group */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    color: #f4f4f4;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input:focus {
    border-color: #ffcc00;
    /* Yellow color */
    box-shadow: 0 0 0 0.2rem rgba(236, 190, 6, 0.822);
}

/* Submit button */
.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #ffcc00;
    /* Yellow color */
    border: none;
    color: #000;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #e6b800;
    /* Darker yellow */
}

/* Link */
.form-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
        color: #fffffe;
}

.form-link a {
    color: #ffcc00;
    /* Yellow color */
    text-decoration: none;
}

.form-link a:hover {
    color: #e6b800;
    /* Darker yellow */
}


.plan-price {
            color: #e6b800;

}
.plan-description {
    color: #fffffe;

}.plan-description2 {
    color: #fffffe;

}
